{% extends 'ScheletroPagine.html' %}

{% block title %}Carrello{% endblock %}
              
{% block HomeCarrello %} 
  <a class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 3px;" href="{{ url_for('Home') }}">
    <i class="fa fa-home"></i> Home
  </a>
{% endblock %}

{% block NomePagina %}Carrello{% endblock %}
    
{% block CorpoPagina %}

  {% if num_art_ord == 0 %}
    <p style="font-size: 30px;">Il carrello è attualmente vuoto</p>
    <br>
  {% endif %}

  {% for articolo_ord in articoli_ord %}
    <div class="card bg-light text-dark">
      <div class="card-body">
        <div class="row">
          <div class="col">
          <img src="{{ articolo_ord[4] }}" alt="Foto pasta" width="50%" height="100%">
          </div>
          <div class="col" style="font-size: 30px; margin: auto;">{{ articolo_ord[0] }}</div>
          <div class="col" style="font-size: 23px; margin: auto;">{{ articolo_ord[1] }} €</div>
          <div class="col" style="margin: auto;">
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Quantità: {{ articolo_ord[2] }}
              </button>
              <ul class="dropdown-menu" style="height: 3cm; overflow: auto;"> 

                {% for i in range(1, articolo_ord[3] + 1) %}
                  <li><a class="dropdown-item" href="{{url_for('cambiaQuantita', nomeArt=articolo_ord[0], quantita=i)}}">{{ i }}</a></li>
                {% endfor %}

              </ul>
            </div>
          </div>
          <div class="col" style="margin: auto;">
              <a class="btn btn-primary" type="button" href="{{url_for('rimuoviArticolo', nome_art = articolo_ord[0])}}">Rimuovi articolo</a>
          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}

  <div class="card bg-dark text-white">
    <div class="card-body">
      <div class="row">
        <div class="col" style="font-size: 23px; margin: auto;"></div>
        <div class="col" style="font-size: 30px; margin: auto;">Totale:</div>
        <div class="col" style="font-size: 23px; margin: auto;">{{ totale }} €</div>
        
        {% if num_art_ord != 0 %}
          <div class="col" style="margin: auto;">
              <button class="btn btn-primary" type="button" onclick=acq_art()>Acquista</button>
          </div>
          <div class="col" style="margin: auto;">
              <button class="btn btn-primary" type="button" onclick=svuota()>Svuota carrello</button>
          </div>
        {% endif %}
      
      </div>
    </div>
  </div>
  <br>

{% endblock %}