{% extends 'ScheletroPagine.html' %}

{% block title %}Home{% endblock %}

{% block HomeCarrello %}
  <a class="btn btn-primary" type="button" style="font-size: 20px; margin-top: 3px;" href="{{ url_for('Carrello')}}">
    <i class="fa fa-cart-arrow-down"></i> Carrello
  </a>
{% endblock %}

{% block NomePagina %}Articoli{% endblock %}
    
{% block CorpoPagina %}
<div class="row">

  {% for articolo in articoli %}

  <div class="col-sm-3">
    <div class="card">
      <img src="{{ articolo[2] }}" class="card-img-top" alt="Foto pasta">
      <div class="card-body">
        <h5 class="card-title">{{ articolo[0] }}</h5>
        <p class="card-text">{{ articolo[1] }} €</p>
        <a class="btn btn-primary" type="button" href="{{url_for('aggiungiArticolo', nomeArt=articolo[0])}}">Aggiungi al carrello</a>
      </div>
    </div>
  </div> 

  {% endfor %}

</div>
{% endblock %}